


{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> BrownBag \ Django App </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" />
</head>

<body>
<!-- Header -->
<div class="jumbotron">
    <div id="header" class="container jumbotron-fluid">

        <div id="site-name">
                <h1>BrownBag | Django App</h1>
        </div>


    </div>
</div>
<!-- END Header -->





{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}


<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" align="center">

    <p>Please login to see this page.</p>



<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>


  </div>
    <div class="col-3"></div>
</div>
</div>

  {% endif %}
{% endif %}

</body>
</html>
