ul.errorlist {
    color: #fff !important;
}

.jumbotron {
    background: #417690;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

h1 {
    font-size: 1.5em;
    color: #f5dd5d;
    text-align: left;
    font-weight: 200;
}



@media screen and (min-width:560px) {
#header {
    margin: 10px 10px 10px 10px;
    width: auto;
}
h1 {
    font-size: 1.5em;
}
.user-tools {
    font-size: 1em;
    color: #f5dd5d;
}
}

@media screen and (min-width:768px) {
#header {
    margin: 10px 10px 10px 10px;
    width: auto;
}
 h1 {
    font-size: 2em;
}
}

 .row {
margin: 60px 10px 10px 10px;
}

.col-sm-3 {
    margin:10px !important;
}


#form {
    text-align:center;
}

table tbody tr th label {
    vertical-align: bottom;
}
