{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Brownbags </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" />
</head>

<body>

<div class="jumbotron">
    <div id="header" class="container jumbotron-fluid">
        <div id="site-name">
            <h1>Brownbags</h1>
        </div>
        <div id="user-tools" class= "user-tools">
            Welcome, <strong>{{user}}</strong>.
            <a class= "user-tools" href="/">Homepage</a>
        </div>
    </div>
</div>

<div id="content" class ="container">
    <div class="row align-items-center">
        <div class="col-4 "></div>

        <div id="form" class="col-6">
          <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>
</div>

</body>
</html>












