{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> BrownBag \ Django App </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" />
</head>

<body>

{% if user.is_authenticated %}

    <div class="jumbotron">
        <div id="header" class="container jumbotron-fluid">
            <div id="site-name">
                    <h1>BrownBag | Django App</h1>
            </div>
            <div id="user-tools" class= "user-tools">
                    Welcome,
                    <strong>{{ user.get_username }}</strong>.

                    <a class= "user-tools" href="add_brownbag/">Add a Brownbag</a> /

                    <a class= "user-tools" href="admin/">Admin</a>  /

                    <a class= "user-tools" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
            </div>
        </div>
    </div>

    <section id="content" class ="container">
        <div class="row border" >
            {% for bb in brownbags %}
                <div class="col-sm-4 border text-center">
                    <p><strong>Title:</strong> {{bb.title}}</p>
                    <p><strong>Date:</strong> {{bb.presentation_date}}</p>
                    <p><strong>Author:</strong> {{bb.author}}</p>
                    <p><strong>Description:</strong> {{bb.description}}</p>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </section>


{% else %}

    <div class="jumbotron">
        <div id="header" class="container jumbotron-fluid">
            <div id="site-name">
                    <h1>BrownBag | Django App</h1>
            </div>
        </div>
    </div>

    <section id="content" class ="container">
        <div class="row  text-center" >
            <div class="col border align-self-center">
                <p>Welcome to BrownBag App.</p>
            </div>
        </div>

        <div class="row  text-center" >
            <div class="col border align-self-center">
                <p>
                    Please <a href="{% url 'login'%}?next={{request.path}}">Login</a>
                    to get access to this site.
                </p>
            </div>
        </div>
    </section>

{% endif %}

</body>

</html>